<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Libro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotoHome()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="detail-book">
    <ion-card-header>
      <ion-card-title>{{ bookSelected.title }}</ion-card-title>
      <ion-card-subtitle>Precio: ${{ bookSelected.price }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img [src]="bookSelected?.imageUrl" alt="{{ bookSelected?.title }}" class="book-image"/>
      <p>ID: {{ bookSelected.id }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
