/* Detalles del libro dentro de un ion-card */
.detail-book {
    max-width: 600px;
    margin: 40px auto;
  }
  
  /* Estilo para la imagen del libro */
  .book-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Estilo para los textos */
  ion-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  ion-card-subtitle {
    font-size: 1.2rem;
    color: #777;
  }
  
  ion-card-content {
    text-align: center;
  }
  
  ion-button {
    --background: #007bff; /* Azul para el fondo del botón */
    --color: white; /* Texto en blanco */
  }
  
  ion-button:hover {
    --background: #0056b3;
  }
  
  ion-button:focus {
    outline: none;
  }
  