/* Estilo para el contenedor de cada item de producto */
.item-book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Muestra el cursor como puntero cuando se hace clic */
}

.item-book:hover {
  transform: translateY(-5px); /* Eleva ligeramente el item al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

/* Estilo para el ID del producto */
.item-book #id {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff; /* Color azul para el ID */
  margin-bottom: 10px;
}

/* Contenedor de la descripción del producto */
.description {
  margin-top: 10px;
}

/* Estilo para el título del producto */
.item-book h2 {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin: 5px 0;
}

/* Estilo para la marca del producto */
.item-book #author {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

/* Estilo para las imágenes de los productos */
.item-book img {
  width: 300px;    /* Tamaño fijo de 300px */
  height: 300px;   /* Tamaño fijo de 300px */
  object-fit: cover;  /* Asegura que la imagen se ajuste sin deformarse */
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Media Query para pantallas pequeñas (<= 600px) */
@media (max-width: 600px) {
  .item-book {
    padding: 15px;
    margin: 8px 0;
  }

  .item-book h2 {
    font-size: 1.4rem;
  }

  .item-book #author {
    font-size: 1rem;
  }

  /* Asegura que las imágenes sigan siendo de 300px x 300px en pantallas pequeñas */
  .item-book img {
    width: 300px;
    height: 300px;
  }
}

/* Media Query para pantallas medianas (<= 1024px) */
@media (max-width: 1024px) {
  .item-book {
    padding: 18px;
    margin: 9px 0;
  }

  .item-book h2 {
    font-size: 1.5rem;
  }

  .item-book #author {
    font-size: 1.1rem;
  }

  /* Asegura que las imágenes sigan siendo de 300px x 300px en pantallas medianas */
  .item-book img {
    width: 300px;
    height: 300px;
  }
}
