<ion-card (click)="navigateToID()"> <!-- IonCard para crear un diseño de tarjeta -->
  <ion-card-header>
    <ion-card-subtitle>ID: {{ item.id }}</ion-card-subtitle> <!-- Muestra el ID del producto -->
    <ion-card-title>{{ item.title }}</ion-card-title> <!-- Muestra el título del producto -->
  </ion-card-header>

  <ion-card-content>
    <ion-img [src]="item.imageUrl" alt="{{ item.title }}"></ion-img> <!-- Imagen del producto -->
    <p>${{ item.price }}</p> <!-- Precio del producto -->
  </ion-card-content>
</ion-card>
