.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #333; /* Color de fondo oscuro */
  color: white; /* Color de texto blanco */
}