/* Aplica la fuente Montserrat a todo el cuerpo de la aplicación */
body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  /* Puedes cambiar a otro peso si lo deseas, como 700 */
  font-style: normal;
  /* Estilo de fuente */
}

header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.item img {
  width: 214px;     /* Ancho fijo de 214px */
  height: 236px;    /* Alto fijo de 236px */
  object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
  border-radius: 8px; /* Bordes redondeados opcionales */
  margin-bottom: 10px; /* Espaciado inferior si es necesario */
}